NODE_ENV=development

SMTP_SERVER_HOST=smtp.gmail.com
SMTP_SERVER_USERNAME=myapp@gmail.com
SMTP_SERVER_PASSWORD=abcd1234xyz
SITE_MAIL_RECEIVER=admin@mywebsite.com

UPSTASH_REDIS_REST_URL="https://.upstash.io"
UPSTASH_REDIS_REST_TOKEN=""
